.env
__pycache__/
.pytest_cache/
*.pyc
weather_cache/
firebase-service-account.json
venv/
.venv/
*_env_vars.json

# Profiling files
*.prof
*.svg
profile_*.py
*.speedscope

# Log files
*.log
temphist.log