.env
__pycache__/
*.egg-info/
.pytest_cache/
*.pyc
weather_cache/
firebase-service-account.json
venv/
.venv/
*_env_vars.json

# Location image files
data/locations/originals/

# Profiling files
*.prof
*.svg
profile_*.py
*.speedscope
.claude

# Log files
*.log

# Node modules
mode_modules/