fastapi==0.120.4
uvicorn==0.38.0
python-dotenv==1.0.1
httpx==0.28.1
redis==7.0.1
gunicorn==23.0.0
aiohttp==3.13.2
requests==2.32.3
firebase_admin==6.6.0
pydantic==2.12.3
python-dateutil==2.9.0.post0
pytest==8.3.4
pytest-asyncio==0.25.2
